In [11]:
import os

In [ ]:
import xml.etree.ElementTree as et 

xtree = et.parse("students.xml")
xroot = xtree.getroot()

In [4]:
for node in xroot: 
    s_name = node.attrib.get("name")
    s_mail = node.find("email").text
    s_grade = node.find("grade").text
    s_age = node.find("age").text

In [38]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("students.xml")
xroot = xtree.getroot() 
print(xroot)

df_cols = ["name", "email", "grade", "age"]
rows = []

for node in xroot: 
    s_name = node.attrib.get("name")
    s_mail = node.find("email").text if node.find("email") is not None else None
    s_grade = node.find("grade").text if node.find("grade") is not None else None
    s_age = node.find("age").text if node.find("age") is not None else None
    
    rows.append({"name": s_name, "email": s_mail, "grade": s_grade, "age": s_age})
    print({"name": s_name, "email": s_mail, "grade": s_grade, "age": s_age})

out_df = pd.DataFrame(rows, columns = df_cols)

<Element 'data' at 0x7fc2500d1c70>
{'name': 'John', 'email': 'john@mail.com', 'grade': 'A', 'age': '16'}
{'name': 'Alice', 'email': None, 'grade': 'B', 'age': '17'}
{'name': 'Bob', 'email': 'bob@mail.com', 'grade': None, 'age': '16'}
{'name': 'Hannah', 'email': 'hannah@mail.com', 'grade': 'A', 'age': None}

In [37]:
out_df

     name            email grade   age
0    John    john@mail.com     A    16
1   Alice             None     B    17
2     Bob     bob@mail.com  None    16
3  Hannah  hannah@mail.com     A  None

In [12]:
!cat students.xml

<data>
    <student name="John">
        <email>john@mail.com</email>
        <grade>A</grade>
        <age>16</age>
    </student>
    <student name="Alice">
        <email>alice@mail.com</email>
        <grade>B</grade>
        <age>17</age>
    </student>
    <student name="Bob">
        <email>bob@mail.com</email>
        <grade>C</grade>
        <age>16</age>
    </student>
    <student name="Hannah">
        <email>hannah@mail.com</email>
        <grade>A</grade>
        <age>17</age>
    </student>
</data>